body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#EntryCreateForm {
    background: url(/Content/Assets/Entry/NoteBookPage.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40%;
}

#EntryCardOverlay {
    margin-top: 7.5%;
    margin-left: 14%;
    margin-right: 5%;
    margin-bottom: 4.5%;
    background-color: rgba(255, 255, 255, 0.77);
}

#cardImage {
    background-repeat: repeat;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutPage {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}