@{
    ViewBag.Title = "About";
}

<h2 style="margin-top: 5%; margin-left: 5%">About Purposefully</h2>
<h5 style="margin-top: 3%; margin-left: 10%; margin-right: 10%;">After finding our own motivation, we want to help you do the same.</h5>
<hr style="margin-bottom: 5%;" />

<h6>The Science Of Goal Setting</h6>
<br />
<div id="aboutPage" style="margin-left: 6%;">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/23OhUjz1s-4?start=19" frameborder="0" allow="accelerometer; autoplay=1; mute=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img src="~/Content/Assets/Goal/GoalPlanActionQuote.jpg" alt="Photo of a quote" style="height: 315px; width: 315px; margin-left: 7%; margin-top: -300px;"/>

</div>
