@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white; border: 2px solid grey; margin-top: 3%;">
    <h2>Welcome to </h2> <h1>Purposefully</h1>
    <p class="lead">Purposefully is designed to be a self-paced guide to help you actualize your purpose in life. By clearly defining your goals and aspirations, the path to success is within your reach. Regardless if its change in your life, job, or self, Purposefully is here to remind you of your intentions and purpose behind all you set your mind to.</p>
    <p><a href="https://asp.net" class="btn btn-info btn-md">Get Started &raquo;</a></p>
</div>

<img class="w-50" src="~/Content/Assets/Goal/WhatAreYourGoals.jpg" alt="Image contains text that reads: What are your goals?" style="margin-left: 25%; margin-bottom: 2%; border-radius: 5px;"/>

<div class="row">
    <div class="col-md-4">
        <h2>Are you ready to begin?</h2>
        <p>
            The best place to start is with yourself. What motivates you? What inspires you? On your profile we keep it simple with just your name and what drives you. Why? Because its time focus on yourself, you are all you need to start working on your goals today. 
        </p>
        <p>"Always remember, your focus determines your reality." <br /> - George Lucas</p>
        <p><a class="btn btn-outline-info btn-md" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create Your Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Importance of Setting Goals</h2>
        <p>Without direction, we navigate life blindly. Feel stuck at work? Imagine a job that makes you happy and layout a goal plan to get there. Want to move cities, start a hobby, or focus on that new fitness routine? Anything and everything can be a goal. We are here to help you define and realize the purpose behind what you want to do so you know how to get there and keep your focus.</p>
        <p><a class="btn btn-outline-info btn-md" href="https://go.microsoft.com/fwlink/?LinkId=301866">Add a Goal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keep a Journal</h2>
        <p>To create a goal is easy, to stick to it and the process can be tough. We have included a platform to keep journal entries, think of it as a digital notebook for anything you like. Journaling can help you work through thoughts and situations using the writing process itself, helping you realize and reach your goals and dreams. Regardless if you're writing on the progress of a goal or just want space for your thoughts and feelings, this can be a great tool to keep you on track till you cross the finish line.</p>
        <p><a class="btn btn-outline-info btn-md" href="https://go.microsoft.com/fwlink/?LinkId=301867">Start Your Journal &raquo;</a></p>
    </div>
</div>